<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Книги.Properties.Settings.Экзамен01_01ConnectionString"
            connectionString="Data Source=LAPTOP-F4IOAFVC\Q;Initial Catalog=Экзамен01.01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Книги.Properties.Settings.knConnectionString" connectionString="Data Source=LAPTOP-F4IOAFVC\Q;Initial Catalog=kn;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>